:root {
  --space-tiny: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xlg: 36px;
}

body {
  min-height: 100vh;
  background: rgb(244, 244, 244);
  color: rgb(10, 10, 10);
  font-family: "Mozilla Text", sans-serif;
  margin: auto var(--space-xlg);
}

fieldset {
  margin: var(--space-lg) var(--space-md);
}

label {
  font-weight: 600;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid rgb(255, 255, 132);
}

#ratings-wrapper {
  display: flex;
  padding: 10px;
}

#ratings-wrapper input {
  margin: auto var(--space-md);
}

input[type="submit"] {
  font-size: 1.25em;
  margin-left: var(--space-lg);
}

#personal-info input {
  margin: var(--space-lg) var(--space-tiny);
  padding: 2px;
}

select {
  padding: 2px;
}