body {
  min-height: 100vh;
  background: rgb(244, 244, 244);
  color: rgb(10, 10, 10);
  font-family: "Mozilla Text", sans-serif;
}

fieldset {
  margin: 20px 10px;
}

#ratings-wrapper {
  display: flex;
  padding: 10px;
}

#ratings-wrapper input {
  margin: auto 30px auto 10px;
}

#ratings-number {
  margin-right: -14px;
}

input[type="submit"] {
  font-size: 1.25em;
}