:root {
  --space-tiny: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xlg: 36px;
}

body {
  min-height: 100vh;
  background: rgb(244, 244, 244);
  color: rgb(20, 20, 20);
  font-family: "Mozilla Text", sans-serif;
  margin: auto var(--space-xlg);
}

form {
  display: flex;
  flex-direction: column;
}

form > h1,
form > p {
  margin-left: var(--space-md)
}

.form-row {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-right: var(--space-md);
}

fieldset {
  margin: var(--space-lg) var(--space-md);
  border: 2px inset rgba(1, 1, 1, 0.25);
}

label {
  font-weight: 600;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid rgb(255, 255, 132);
}

#ratings-wrapper {
  display: flex;
  padding: 10px;
}

#ratings-wrapper input {
  margin: auto var(--space-md);
}

#submit-btn {
  font-size: 1.125em;
  margin-left: var(--space-lg);
  margin-bottom: var(--space-md);
  align-self: flex-start;
}

#personal-info input {
  margin: var(--space-md) var(--space-tiny);
  padding: 2px;
}

select {
  padding: 2px;
}

#recommendation > label {
  margin-top: var(--space-lg);
}

button, input, select, textarea {
  font: inherit;
}
