:root {
  --primary-bg: #1e2e4e;
  --secondary-bg: #285a62;
  --accent: #fac35a;
  --muted-bg: #dedee3;
  --easy-white: #efefef;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Mozilla Text", sans-serif;
  color: var(--easy-white);
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

section:not(#hero-section-ctn) {
  padding: 36px 0;
}

#header {
  display: flex;
  background-color: var(--primary-bg);
  padding: 16px;
  box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.5);
  z-index: 1;
}

#logo-ctn {
  display: flex;
  flex-direction: row;
}

#logo-ctn p {
  align-self: center;
  margin-left: 4px;
  font-size: 2em;
  font-weight: bold;
}

#nav-bar {
  display: flex;
  margin-left: auto;
  align-items: center;
}

#nav-bar li {
  list-style: none;
  margin: auto 10px;
}

.logo-txt-color {
  color: var(--easy-white);
}

#nav-bar a {
  text-decoration: none;
  color: var(--easy-white);
}

#nav-bar a:visited {
  color: cya;
}

#nav-bar a:hover {
  color: var(--accent);
  text-decoration: underline;
}

#nav-bar a:focus,
#nav-bar a:visited {
  color: rgb(122, 255, 255);
}

.accent-txt {
  color: var(--accent);
}

#hero-master-container {
  position: relative;
  background: url(../../assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#hero-txt-content {
  font-size: 1.75em;
  line-height: 1.5;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

#hero-img-container {
  filter: hue-rotate(300deg);
}

#hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-line {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 100%;
}

.hr-line::before,
.hr-line::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #cbd5e1;
}

.section-heading {
  font-size: 40px;
}

.section-para {
  font-size: 30px;
}

.card-image {
  width: 150px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container-master {
  display: flex;
  justify-content: space-evenly;
}

.card-container {
  background-color: var(--easy-white);
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.card-container:not(img) {
  color: var(--primary-bg);
}

#project-container {
  display: flex;
  flex-direction: row;
}

.project-card {
  background-color: var(--easy-white);
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}