:root {
  --primary-bg: #1E2E4E;
  --secondary-bg: #285A62;
  --accent: #FAC35A;
  --muted-bg: #DEDEE3;
  --easy-white: #EFEFEF;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Mozilla Text", sans-serif;
  color: var(--easy-white);
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  background-color: var(--primary-bg);
  padding: 16px;
  box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.5);
  z-index: 1;
}

#logo-ctn {
  display: flex;
  flex-direction: row;
}

#logo-ctn p {
  align-self: center;
  margin-left: 4px;
  font-size: 2em;
  font-weight: bold;
}

#nav-bar {
  display: flex;
  margin-left: auto;
  align-items: center;
}

#nav-bar li {
  list-style: none;
  margin: auto 10px;
}

.logo-txt-color {
  color: var(--easy-white);
}

#nav-bar a {
  text-decoration: none;
  color: var(--easy-white);
}

#nav-bar a:link {

}

#nav-bar a:visited {
  color: cya
}

#nav-bar a:hover {
  color: var(--accent);
  text-decoration: underline;
}

#nav-bar a:focus,
#nav-bar a:visited {
  color: rgb(122, 255, 255);
}

#nav-bar a:active {

}

.accent-txt {
  color: var(--accent);
}

#hero-master-container {
  background: url(../../assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
}

#hero-txt {
  display: flex;
  flex-direction: column;
  justify-self: space-between;
}

#hero-btns-ctn {
  display: flex;
  gap: 6px;
}

